# Required to use the illinois chat mcp server
ILLINOIS_CHAT_API_KEY=
# Required to use NCSA hosted models
NCSA_LLM_URL=
NCSA_OLLAMA_URL=
# Required for using the atlassian mcp server
JIRA_PERSONAL_ACCESS_TOKEN=

# For Testing the report tool
EMAIL_FROM=no-reply@hpccode.ncsa.illinois.edu
EMAIL_RECIPIENT=